.header-bg-color{
    background-color: #FEEAE9;
}
.watch-bg{
    background-color: #FF9C35;
}
.bag-bg{
    background-color: #FF589B;
}
.shoes-bg{
    background-color: #4289FF;
}
.box img{
    width: 100px;
}

.btn{
    background-color:#FF589B;
}

.bg-sub{
    background-color: #FFF2F1;
}